/* styles.css (ou tout autre nom de fichier CSS que vous utilisez) */



.movies-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.movie-item {
    margin-right: 10px; /* Marge entre chaque élément d'image */
}

.movie-image {
    width: 150px; /* Largeur fixe des images */
    height: auto; /* Hauteur ajustée en fonction de la largeur */
    display: inline-block; /* Pour positionner les éléments en ligne */
}
.carousel-item img {
    width: 300px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Garantit que l'image reste proportionnelle */
}