<!-- footer.ejs -->
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>PopcornReview is a global social network for grass-roots film discussion and discovery. Use it as a diary to record and share your opinion about films as you watch them, or just to keep track of films you’ve seen in the past.</p>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: PopcornReview@gmail.com</p>
                <p>Phone: +33 69 420 80</p>
                <p>Address: 32 rue des chiens, France</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2023 PopcornReview. All rights reserved.</p>
        </div>
    </div>
</footer>
