@font-face {
    font-family: 'fonttitle';
    src: url("./BebasNeue-Bold.otf");
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .searchbar {
    min-width: 200px;
    margin-right: 10px;
  }

  .mainpage{
    max-width: 570px;
  }
  .waviy {
    padding-left: 50px;
    position: relative;
    min-width: 180px;
    width: 200px;
    font-family: "fonttitle";
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }